.product-list-container {
  padding: 20px;
  
  h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
}